[submodule ".config/nvim"]
    path = .config/nvim
    url = https://github.com/onesmallskipforman/nvim.git
    branch = master
[submodule ".local/share"]
    path = .local/share
    url = https://github.com/onesmallskipforman/userdata.git
    branch = master
[submodule ".config/work"]
    path = .config/work
    url = https://github.com/onesmallskipforman/workconfig.git
    branch = master
