# Don't track content of these folders
.DS_Store
.vscode

# configs i'm testing
.config/hunter

# extraneous nonconfig files
.config/termpdf.py/cache
.config/brew/brewfile.lock.json
.config/nvim/plugged

# vscode
.config/Code
!.config/Code/plugins.txt
!.config/Code/User

# other data files
.local/state
.local/share
.local/src
.local/lib
