# Don't track content of these folders
.DS_Store
.vscode

# configs i'm testing
.config/hunter

# extraneous nonconfig files
.config/termpdf.py/cache
.config/packages/brewfile.lock.json

# other data files
.local/state
