# Don't track content of these folders
.DS_Store
.vscode

# configs i'm testing
.config/hunter

# extraneous nonconfig files
.config/termpdf.py/cache
.config/brew/brewfile.lock.json
.config/nvim/plugged

# other data files
.local/state
.local/share
.local/src
