@import '/home/skipper/.cache/wal/colors.css';

/* TODO: booksmarks on toolbar are missing. might be user.js */

/* Some terminology:
    Navigator Toolbox: everything combined: urlbar, tabs, toolbar, etc.

    key IDs. non-exhaustive list:

    #navigator-toolbox: everything ui
        #titlebar:
            #toolbar-menubar:
            #TabsToolBar:
        #nav-bar:
            #PanelUI-button: firefox menu button with settings, themes, etc.
            #back-button:
            #forward-button:
            #stop-reload-button: TODO: wondering if i can manage these together
                #stop-button:
                #reload-button:
            #urlbar-container: the horizontal region of the nav-bar that holds the urlbar
                #urlbar: the urlbar itself
                    #urlbar-background: background when urlbar is not expanded
                    #urlbar-input-container
                    #urlbarView: the urlbar when fully expanded with suggestions
        #PersonalToolbar: bottom bar
    #browser: browser content
*/

/* CONVENIENCE VARIABLES */
:root {
    --dark-bg: color-mix(in srgb, var(--background) 60%, black) !important;
    --lite-bg: color-mix(in srgb, var(--background) 80%, white) !important;
    --dark-fg: color-mix(in srgb, var(--foreground) 60%, black) !important;
    --lite-fg: color-mix(in srgb, var(--foreground) 10%, white) !important;
    --border-radius: 0px;
    --urlbar-height: 20px;
    --tab-min-height: 22px !important; /* TODO: not sure why i cant rename this */
}

/* SETTINGS DISCOVERED USING LIVE EDITOR */
:root{
    --toolbarbutton-icon-fill          : var(--color7)                  !important; /* Toolbar Icon Color */
    /* --toolbar-bgcolor                  : var(--background) !important; */ /* toolbar background color */
    --toolbar-bgcolor: color-mix(in srgb, white 10%, var(--background)) !important; /* focused tab background color */
    /* --toolbar-bgcolor: color-mix(in srgb, var(--foreground) 10%, transparent) !important; */
    --toolbar-color                    : var(--foreground)                  !important; /* Toolbar Text Color */
    --tabs-navbar-shadow-color         : var(--dark-fg)                  !important; /* Toolbar top border */
    --chrome-content-separator-color   : var(--background)                  !important; /* Toolbar bottom border */



    --toolbarbutton-border-radius      : var(--border-radius)                                !important; /* Border of hover-highlighted area */
    --urlbarView-separator-color       : var(--foreground)                  !important; /* Separator between suggestion groups when typing in urlbar */
    /* --urlbarView-hover-background: */ /* urlbar hover highlight over suggestions */
    /* --urlbarView-highlight-background: rgb(28, 0, 253) !important; */ /* urlbar highlight over currently selected suggestion */

    --arrowpanel-background            : var(--background)                  !important; /* Dropdown background */
    --arrowpanel-color                 : var(--foreground)                  !important; /* Dropdown foreground */
    --arrowpanel-border-radius         : var(--border-radius) !important; /* Dropdown border radius */
    --panel-separator-color            : var(--foreground)                  !important; /* Dropdown separator color */
    --panel-disabled-color             : var(--color8)                      !important; /* dropdown faded text (disabled options and hints) */
    --arrowpanel-border-color          : var(--foreground)                  !important; /* Dropdown border */
    --arrowpanel-menuitem-border-radius: var(--border-radius) !important; /* Dropdown hover-lighlighted area radius */

    --sidebar-text-color               : var(--foreground)                  !important; /* Title Text of Sidebar */
    --sidebar-background-color         : var(--background)                  !important; /* Title Background of Sidebar */
    --sidebar-border-color             : var(--foreground)                  !important; /* Sidebar Border between title and list */
    --lwt-sidebar-background-color     : var(--background)                  !important; /* Sidebar list background */
    --lwt-sidebar-text-color           : var(--foreground)                  !important; /* Sidebar list text */

    /* --urlbar-icon-border-radius: calc(var(--toolbarbutton-border-radius) - 1px) !important; */

    --toolbar-field-border-color       : var(--background) /* var(--dark-fg) */ !important; /* urlbar border when unfocused */
    --toolbar-field-focus-border-color : var(--cursor)     !important; /* urlbar border when focused */


    --toolbar-field-background-color      : var(--background) !important; /* urlbar background when unfocused */
    --toolbar-field-focus-background-color: var(--background) !important; /* urlbar background when focused   */
    --toolbar-field-color                 : var(--foreground) !important; /* urlbar text when unfocused */
    --toolbar-field-focus-color           : var(--cursor)     !important; /* urlbar text when focused */

    /* --button-bgcolor                : var() !important;   */
    /* --button-hover-bgcolor          : var() !important;  */
    /* TODO: check out color-mix to try to alter alpha of existing colors */

    /* unfocused tab background color */
    /* --lwt-accent-color: var(--background) !important; */

    /* unfocused tab text color */
    /* --lwt-text-color: var(--foreground) !important; */

    /* focused tab background color */
    /* --tab-selected-bgcolor  : var(--background) !important; */

    /* focused tab text color */
    /* --tab-selected-textcolor: var(--cursor)  !important; */
    /* --arrowpanel-menuitem-margin-block: 0px !important; */ /* dropdown entry left-right margin */

    /* --inline-tab-padding: 7px; left-right padding between tab text and tab border */
    /* --tab-shadow-max-size: 10px; */
    --tab-border-radius: 0px 0px 0px 0px !important; /* tab radius */
    --tab-block-margin: 0px !important; /* top-bottom padding between tab and toolbar and top of window */
}

/* Tab: non-selected colors */
#tabbrowser-tabs .tabbrowser-tab:not([selected]) .tab-content {
    background: var(--dark-bg) !important;
    color: var(--color7) !important;
}

/* Tab: selected colors */
#tabbrowser-tabs .tabbrowser-tab[selected] .tab-content {
    background: var(--background) !important;
    color: var(--color7) !important;
}

/* --- CLEAN NAVBAR ----------------------------------- */

/* buttons that cannot be removed in customization menu */
#back-button { display: none; }
#forward-button { display: none; }
/* #unified-extensions-button { display: none; } */

/* buttons that can be removed in customization menu */
/* #firefox-view-button { display: none; } */
/* #reload-button { display: none; } */
/* #stop-button { display: none; } */
/* #home-button { display: none; } */
/* #library-button { display: none; } */
/* #fxa-toolbar-menu-button { display: none; } */
/* empty space before and after the url bar */
/* #customizableui-special-spring1, #customizableui-special-spring2 { display: none; } */
/* #pocket-button { display: none; } */

/* keep pop-up menus from overlapping with navbar */
#widget-overflow { margin: 0 !important; }
#appMenu-popup { margin: 0 !important; }
#customizationui-widget-panel { margin: 0 !important; }
#unified-extensions-panel { margin: 0 !important; }

/* add padding to the right of the last button so that it doesn't touch the edge of the window */
#PanelUI-menu-button {
    padding: 0px 4px 0px 0px !important;
    /* display:none; */
}

/* The bar containing the urlbar and any tools next to it */
#nav-bar {
    /* max-height: var(--urlbar-height-setting) !important; */
    height    : var(--urlbar-height) !important;
    min-height: var(--urlbar-height) !important;
    max-height: var(--urlbar-height) !important;
    /* min-height: var(--urlbar-height-setting) !important; */
}

/* the entire box including menubar, urlbar, toolbar, tabs, etc */
#navigator-toolbox {
    /* border: none !important; */
    border-bottom: 0.01px solid var(--color7) !important;
}

/* --- CLEAN URLBAR ----------------------------------- */

#identity-box { display: none; }
#pageActionButton { display: none; }
#urlbar-zoom-button { display: none; }
#tracking-protection-icon-container { display: none !important; }
#reader-mode-button{ display: none !important; }
#star-button { display: none; }
#star-button-box:hover { background: inherit !important; }

/* Go to arrow button at the end of the urlbar when searching */
#urlbar-go-button { display: none !important; }

/* remove container indicator from urlbar */
/* TODO: doesn't seem to be working */
/* #userContext-label, #userContext-indicator { display: none !important;} */


/* add gap between url text and container borders */
#urlbar-input {
    margin-left: 0.8em !important;
    margin-right: 0.4em !important;
}



#urlbar {
    --urlbar-height: var(--urlbar-height) !important;
    /* --urlbar-toolbar-height: var(--urlbar-height) !important; */
    min-height     : var(--urlbar-height) !important;
    max-height     : var(--urlbar-height) !important;
    /* border-color: #FFFFFF !important; */
}

#urlbar-container {
    --urlbar-container-height: var(--urlbar-height) !important;
    /* --urlbar-container-max-height: 10px !important; */
    /* --urlbar-container-min-height: 10px !important; */
    /* max-height: 1px !important; */
    /* min-height: 1px !important; */
    /* padding-block: 10px !important; */

    margin-left   : 0em !important;
    margin-right  : 0em !important;
    /* padding-top   : 1em !important; */
    /* padding-bottom: 1em !important; */
    /* font-family: var(--urlbar-font, 'monospace'); */
    font-size: calc(var(--urlbar-height)-2) !important;
    /* min-height     : var(--urlbar-height)/2 !important; */
    /* max-height     : var(--urlbar-height)/2 !important; */
}

/* --- CLEAN TABBAR -------------------------------- */

/* remove overflow scroll buttons */
#scrollbutton-up, #scrollbutton-down { display: none !important; }

/* remove dropdown menu button which displays all tabs on overflow */
#alltabs-button { display: none !important }

/* Hide close button on tabs */
/* #tabbrowser-tabs .tabbrowser-tab .tab-close-button { display: none !important; } */

.tab-icon-image {
    height: auto !important;
    width: calc(var(--tab-min-height) / 2.0) !important;
    margin-right: 4px !important;
}

/* hide window controls */
.titlebar-buttonbox-container { display: none; }

/* remove titlebar spacers */
.titlebar-spacer { display: none !important; }


#TabsToolbar, .tabbrowser-tab {
    max-height: var(--tab-min-height) !important;
    font-size: 11px !important;
    min-height: var(--tab-min-height) !important
}

/* toolbar */
.browser-toolbar {
  /* &:not(.titlebar-color) { */
    background-color: var(--background) !important;
    color: var(--toolbar-color);
    border-style: none;
    border-top-style: none;
  /* } */
}


/* #titlebar { */
/*     --proton-tab-block-margin: 0px !important; */
/*     --tab-block-margin: 0px !important; */
/* } */


.tabbrowser-tab {
    /* remove border between tabs */
    padding-inline: 0px !important;
    /* reduce fade effect of tab text */
    --tab-label-mask-size: 1em !important;
    /* fix pinned tab behaviour on overflow */
    overflow-clip-margin: 0px !important;
}


 /* Tab - Connect to window */
.tab-background,.tab-content,.tab-stack {
    border-radius: 0 !important;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}
