/* Source file https://github.com/MrOtherGuy/firefox-csshacks/tree/master/chrome/color_variable_template.css made available under Mozilla Public License v. 2.0
See the above repository for updates as well as full license text. */



@import url('file:///home/skipper/.cache/wal/colors.css');
/* @import url('ogx_left-sidebar.css'); */

/**/
/* :root { */
/*     --foreground-alt: var(--color2); */
/*     --foreground-alt-alt: var(--color4); */
/*     --font: 'Hack'; */
/* } */
/**/
/* /* url container color */
/* #urlbar { */
/*     background-color: var(--background) !important; */
/*     color: var(--foreground) !important; */
/* } */
/**/
/**/
/* /* Color for firefox panel (tabs background and background behind url bar) */
/* menubar, toolbar, nav-bar, #TabsToolbar > *{ */
/*     font-family: var(--font) !important; */
/*     background-color: var(--background) !important; */
/*     color: var(--foreground) !important; */
/* } */
/**/
/* /* active tab coloring */
/* .tabbrowser-tab[selected="true"] { */
/*     font-weight: bold !important; */
/*     color: var(--foreground) !important; */
/*     background-color: var(--background) !important; */
/* } */
/**/
/* #nav-bar .toolbarbutton-text  { */
/*     --general_toolbar_text_color: red !important; */
/* } */

/* #PersonalToolbar .toolbarbutton-text { */
/*     --general_toolbar_text_color: cyan !important; */
/* } */

/* #PersonalToolbar .toolbarbutton-text { */
/*     color: var(--foreground) !important; */
/* } */

/* .tab-line { */
/*   display: none; */
/* } */
/* .tab-background { */
/*   border-radius: 10px 10px 0 0 !important; */
    /* border-top  : 1px solid var(--foreground) !important; */
    /* border-left : 1px solid var(--foreground) !important; */
    /* border-right: 1px solid var(--foreground) !important; */
  /* transform: perspective(10px) rotateX(2.5deg); */
/* } */
/* .tab-background[selected] { */
/*   border-radius: 10px 10px 0 0 !important; */
/*     border-top  : 1px solid var(--foreground) !important; */
/*     border-left : 1px solid var(--foreground) !important; */
/*     border-right: 1px solid var(--foreground) !important; */
/* } */
/*Skew new tab button*/
/* #tabs-newtab-button { */
/*   transform: skew(25deg); */
/* } */

/*Clean up tabs*/
/* .tabbrowser-tab::before, */
/* .tabbrowser-tab::after{ */
/*   display: none !important; */
/* } */
/**/
/* .titlebar-spacer{ */
/*   display: none */
/* } */

/* Tabs `s  */
/* .tabbrowser-tab[selected="true"] .tab-background { */
/*   background: #201E21 none !important; */
/* } */

/* #tabbrowser-tabs:not([movingtab]) */
/*   > #tabbrowser-arrowscrollbox */
/*   > .tabbrowser-tab */
/*   > .tab-stack */
/*   > .tab-background[multiselected='true'], */
/* #tabbrowser-tabs:not([movingtab]) */
/*   > #tabbrowser-arrowscrollbox */
/*   > .tabbrowser-tab */
/*   > .tab-stack */
/*   > .tab-background[selected='true'] { */
/*   background-image: none !important; */
/*   background-color: var(--background) !important; */
/* } */



/* #tabbrowser-tabs[haspinnedtabs]:not([positionpinnedtabs]) > #tabbrowser-arrowscrollbox > .tabbrowser-tab[first-visible-unpinned-tab] { */
/*   margin-inline-start: 0 !important; */
/* } */
/* .tabbrowser-tab{ */
/*   padding-inline: 1.5px !important; */
/* } */
/* .tabbrowser-tab[first-visible-tab] { */
/*   padding-inline-start: 3px !important; */
/* } */





/* .tab-background, */
/* #urlbar-background, */
/* #searchbar, */
/* menupopup, */
/* .menupopup-arrowscrollbox{ */
/*     border-radius: 10px !important; */
/*     /* border: 0 !important; */
/*     /* --windows-panel-box-shadow: 0 0 10px green; */
/* } */
/* :root{ */
/*     --arrowpanel-border-radius:0px !important; */
/*     /* --arrowpanel-menuitem-padding-block: 30px !important; */
/*     /* --panel-font-size: inherit !important; */
/*     /* --arrowpanel-padding: 0.8em !important; */
/* } */

/* You should enable any non-default theme for these to apply properly. Built-in dark and light themes should work */
:root{

    /* --tab-block-margin: 0px !important; /* Removes gap between tabs and nav bar*/ */

    /* Popup panels */
    /* --arrowpanel-border-color: var(--foreground) !important; */
    /* --arrowpanel-color:        var(--foreground) !important; */
    /* --arrowpanel-dimmed:       rgba(0,0,0,0.4)   !important; */
    /* --arrowpanel-dimmed:       var(--color10)    !important; */
    /* window and toolbar background */
    /* --lwt-accent-color: var(--background) !important; */
    /* --lwt-accent-color-inactive: green !important; */
    /* --toolbar-bgcolor: var(--color10) !important; */
    /* tabs with system theme - text is not controlled by variable */
    /* --tab-selected-bgcolor: powderblue !important; */
    /* --tab-selected-bgcolor: rgba(0,0,0,0.4) !important; */
    /* tabs with any other theme */
    /* --lwt-text-color: var(--cursor) !important; */
    /* --lwt-selected-tab-background-color: var(--foreground) !important; */
    /* toolbar area */
    /* --toolbarbutton-icon-fill: var(--foreground) !important; */
    /* --toolbarbutton-color-fill: var(--foreground) !important; */
    /* --lwt-toolbarbutton-hover-background: orange !important; */
    /* --lwt-toolbarbutton-active-background: red !important; */

    /* urlbar */
    /* --urlbar-container-padding: 0.5px !important; */
    /* --urlbar-popup-url-color: var(--background) !important; */ /* doesn't seem to do anything */
    /* urlbar Firefox 92+ */
    --toolbar-field-border-color       : var(--foreground) !important;
    --toolbar-field-focus-border-color : var(--cursor)     !important;
    --toolbar-field-background-color: var(--background) !important;
    --toolbar-field-focus-background-color: var(--background) !important;
    --toolbar-field-color: var(--foreground) !important;
    --toolbar-field-focus-color: white !important;



    /* sidebar - note the sidebar-box rule for the header-area */
    /* --lwt-sidebar-background-color: var(--background) !important; */
    /* --lwt-sidebar-text-color: var(--foreground) !important; */

}


/* line between nav-bar and tabs toolbar,
    also fallback color for border around selected tab */
/* #navigator-toolbox{ --lwt-tabs-border-color: var(--foreground) !important; } */
/* Line above tabs */
/* #tabbrowser-tabs{ --lwt-tab-line-color: var(--foreground) !important; } */
/* the header-area of sidebar needs this to work */
/* #sidebar-box{ */
/*     --sidebar-background-color: var(--background) !important; */
/* } */

/* #sidebar-splitter{ */
    /* display: none !important; */
    /* width: 1px !important; */
    /* border-color: var(--foreground) !important; */
    /* border-right: 1px solid !important; */
/* } */









/* /* Source file https://github.com/MrOtherGuy/firefox-csshacks/tree/master/chrome/color_variable_template.css made available under Mozilla Public License v. 2.0 */
/* See the above repository for updates as well as full license text. */
/**/
/* /* You should enable any non-default theme for these to apply properly. Built-in dark and light themes should work */ */
/* :root{ */
/*   /* Popup panels */
/*   --arrowpanel-background: olive !important; */
/*   --arrowpanel-border-color: green !important; */
/*   --arrowpanel-color: cyan !important; */
/*   --arrowpanel-dimmed: rgba(0,0,0,0.4) !important; */
/*   /* window and toolbar background */
/*   --lwt-accent-color: red !important; */
/*   --lwt-accent-color-inactive: green !important; */
/*   --toolbar-bgcolor: rgba(0,0,0,0.4) !important;   */
/*   /* tabs with system theme - text is not controlled by variable */
/*   --tab-selected-bgcolor: powderblue !important; */
/*   /* tabs with any other theme */
/*   --lwt-text-color: cyan !important; */
/*   --lwt-selected-tab-background-color: cornflowerblue !important; */
/*   /* toolbar area */
/*   --toolbarbutton-icon-fill: white !important; */
/*   --lwt-toolbarbutton-hover-background: orange !important; */
/*   --lwt-toolbarbutton-active-background: red !important; */
/*   /* urlbar */
/*   --toolbar-field-border-color: green !important; */
/*   --toolbar-field-focus-border-color: pink !important; */
/*   --urlbar-popup-url-color: cyan !important; */
/*   /* urlbar Firefox < 92 */
/*   --lwt-toolbar-field-background-color: olive !important; */
/*   --lwt-toolbar-field-focus: grey !important; */
/*   --lwt-toolbar-field-color: red !important; */
/*   --lwt-toolbar-field-focus-color: white !important; */
/*   /* urlbar Firefox 92+ */
/*   --toolbar-field-background-color: olive !important; */
/*   --toolbar-field-focus-background-color: grey !important; */
/*   --toolbar-field-color: red !important; */
/*   --toolbar-field-focus-color: white !important; */
/*   /* sidebar - note the sidebar-box rule for the header-area */
/*   --lwt-sidebar-background-color: purple !important; */
/*   --lwt-sidebar-text-color: yellow !important; */
/* } */
/* /* line between nav-bar and tabs toolbar, */
/*     also fallback color for border around selected tab */
/* #navigator-toolbox{ --lwt-tabs-border-color: cyan !important; } */
/* /* Line above tabs */
/* #tabbrowser-tabs{ --lwt-tab-line-color: white !important; } */
/* /* the header-area of sidebar needs this to work */
/* #sidebar-box{ --sidebar-background-color: purple !import */
