/* @namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul"); /* only needed once */
/* Import the CSS file.
   Change 'dylan' to your username. */
@import url('file:///home/skipper/.cache/wal/colors.css');

/* Use the variables */
#nav-bar {
  background-image: var(--wallpaper);
  color: var(--color7) !important;
}

h1 {
  background-color: var(--color3);
}


/* @namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul"); /* only needed once */
/* #PanelUI-menu-button {display: none;} */
/* #TabsToolbar {visibility: collapse;} */
/* #navigator-toolbox {visibility: collapse;} */
/* browser {margin-right: -14px; margin-bottom: -14px;} */
/* @namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul"); /* set default namespace to XUL */
/**/
/* #menu_unsortedBookmarks { display: none !important; } */
/* #BMB_unsortedBookmarks { display: none !important; } */
/**/
/* bookmark menu */
/* #subscribeToPageMenuitem, */
/* #subscribeToPageMenupopup, */
/* #bookmarksShowAll, */
/* #organizeBookmarksSeparator, */
/* #bookmarksToolbarFolderMenu, */
/* #bookmarksToolbarFolderMenu+menuseparator { */
/*   display:none !important; */
/* } */
